.wrapper {
  position: relative;
  float: left;
  width: 100%;
  background-color: #DAE0E6;
}

.section-title {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  text-transform: capitalize;
  color: #313334;

}